@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Form parameters parsing demo</h2>
    <ul>
        <li><a href="@Url.Action("Index", "SingleActionPars")">Manual parsing in single action</a></li>
        <li><a href="">Manual parsing in separate action</a></li>
        <li><a href="">Model binding (parameters)</a></li>
        <li><a href="">Model binding (separate model)</a></li>
    </ul>
</div>